h4{
  		padding:0px;
  	}
      #log {
        height: 500px;
        width: 280px;
    border: 1px solid black;  
  padding: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset -5px -5px rgba(0,0,0,0.2);
   -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; 
  position: relative;
}
#img01{
      height: 300px;
      width: 160px;
    }
    #h01{
      text-align: left;
    }
    #look02, #look03, #link{
      border-top: 1px solid silver;
    }
    #look01 {
      height: 12%;
      color: black;
    }
    #look02 {
      padding: 5px 0px 5px 0px;
    }
    #look03 {
      height: 8%;
      padding: 10px; 
    }
    #al01, #al02 {
      float: right;
      width: 80px;
      height: 20px;
      font-size: 12px;
      padding-top: 4px;
    }
    #al {
      float: left;
      width: 80px;
      height: 20px;
      font-size: 12px;
      padding-top: 4px;
    }
    #pro {
      float: left;
    }
    #flip, #ama {
      height: 30px;
      width: 90px;
    }
    #la1 {
      margin-top: 5px;
    }
    #log:hover {
      height: 520px;
      width: 300px;
      z-index: 1;
      -webkit-transform: translate3d(-10px,0px,10px);
      -moz-transform: translate3d(-10px,0px,10px);
      -o-transform: translate3d(-10px,0px,10px);
      -ms-transform: translate3d(-10px,0px,10px);
      transform: translate3d(-10px,0px,10px);
    }