body {
	background-image: url(../images/news1.jpg);
	background-size: cover;
}
.login {
	width: 300px;
	height: 380px;
	background-color: rgba(33, 76, 186,0.3); 
	margin: auto; 
	padding: auto;
	border-radius: 20px;
	font-weight: bolder;
	text-align: center;
	box-shadow: inset -5px -5px rgba(0,0,0,0.5); 
}
.login input[type="email"]{

	width: 200px;
	height: 25px;
	padding: 5px;
	border-radius: 6px;
	background-color: transparent;
}
.login input[type="password"]{

	width: 200px;
	height: 25px;
	padding: 5px;
	border-radius: 6px;
	background-color: transparent;
}
.login input[type="submit"]{
	width: 70px;
	height: 25px;
	padding: 5px;
	text-align: center;
	border-radius: 6px;
	background-color: blue;
	background-color: transparent;
}