<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Day 001 Login Form</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

      <link rel="stylesheet" href="logprofilecss/css/main.css">
      <link rel="stylesheet" href="logprofilecss/css/style.css">
      <link rel="stylesheet" type="text/css" href="logprofilecss/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="logprofilecss/font-awesome-4.7.0/css/font-awesome.css">



<!-- +++++++++++++++++++++++++++++++++++++ -->
 <script type="text/javascript">
var app = angular.module('postserviceApp', []);
app.controller('postserviceCtrl', function ($scope, $http) {
// $scope.fname = '';	
// $scope.email = null;

// $scope.password = null;
// $scope.lblMsg = null;
$scope.register = function (fname,lname,uname,contact,email, password) {
	console.log("response",email,password);
var data = {
fname: fname,
lname:lname,
uname:uname,
contact:contact,	
email: email,
password: password,
};
console.log('ddddd',data);
//Call the services
 fetch("http://192.168.1.129:8080/register/",{method: "POST", headers: {"Content-Type": "application/x-www-form-urlencoded", "Accept": "application/json"} ,body:  JSON.stringify(data) })
 .then((response)=>response.json())
 .then((response) =>  {
         if (response.status==200){
          alert(response.message)
          window.location.href = "profile.html"
          console.log(response)

 }else {
          // window.location.href = "error.html"
          alert(response.message)
          console.log(response)
          return false
      }

// $scope.msg = "Post Data Submitted Successfully!";
})
    .catch((error) => {
      alert("Error while OTP Request")
      return false
    })
    
    // console.log(v)
}

$scope.login = function (email, password) {
	console.log("response",email,password);
var data = {	
email: email,
password: password,
};
console.log('ddddd',data);
//Call the services
 fetch("http://192.168.1.129:8080/login/",{method: "POST", headers: {"Content-Type": "application/x-www-form-urlencoded", "Accept": "application/json"} ,body:  JSON.stringify(data) })
 .then((response)=>response.json())
 .then((response) =>  {
         if (response.status==200){
          alert(response.message)
          window.location.href = "profile.html"
          console.log(response)

 }else {
          // window.location.href = "error.html"
          alert("Invalid credentials")
          console.log(response)
          return false
      }

// $scope.msg = "Post Data Submitted Successfully!";
})
    .catch((error) => {
      alert("Error while OTP Request")
      return false
    })
    
    // console.log(v)
}
});
</script>
<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
  
</head>

<body>
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
  <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
	
		<div class="login-form">
		
			<div class="sign-in-htm">
			<form ng-submit="sendForm()">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="text" ng-model="email" name='email' class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" ng-model="password" name="password"  class="input" data-type="password">
				</div>
				
		
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" ng-click="login(email, password)" class="button" value="Sign In">
				</div>
				</form>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
				<!-- social -->
				<div class="hrs">
    				<div></div>
    				<div>OR</div>
    				<div></div>
  				</div>
 		 		<div class="social">
    				<a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
    				<a href="javascript:void(0)" class="twitter"></a>
    				<a href="javascript:void(0)" class="googleplus"></a>
  				</div>
			</div>

			<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			<div class="sign-up-htm">
			<form ng-submit="sendForm()">
			    <div class="group">
					<label for="user" class="label" >First Name</label>
					<input id="user" type="text" class="input" ng-model="fname" name="fname" placeholder="required">
				</div>
			    <div class="group">
					<label for="user" class="label">Last Name</label>
					<input id="user" type="text" class="input" ng-model="lname" name="lname" placeholder="optional">
				</div>
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" ng-model="uname" name="uname" placeholder="required">
				</div>
				<div class="group">
					<label for="pass" class="label">Contact</label>
					<input id="pass" type="number" class="input" ng-model="contact" name="contact" placeholder="required, eg. 917996917565">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input" ng-model="email" name="email" placeholder="required">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" ng-model="password" name="password" placeholder="required">
				</div>
				<!-- <div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="rpassword">
				</div> -->
				
				<div class="group">
					<input type="submit" ng-click="register(fname,lname,uname,contact,email, password)" class="button" value="Sign Up">
				</div>
				</form>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
			</div>
			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		</div>
	</div>
 </div>
</div>
  
</body>
</html>
